.main-view {
    width: 780px;
    height: 100%;
}

.main-view-header, .main-view-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-view-filters > * {
    padding: 0 0.25rem;
}

.main-view-total {
    font-size: 16px;
    color: #272a37;
}

.main-view-filter {
    border-radius: 10px;
}

.main-view-body {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.main-view-header {
    display: flex;
    align-items: center;
}

.not-found-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-icon {
    margin: 32px 0;
    width: 80px;
    height: 76.45px;
}

.not-found-title {
    font-family: 'TBCXBold';
    font-size: 18px;
    color: #272a37;
    margin-bottom: 16px;
}

.not-found-desc {
    font-size: 14px;
    color: #272a37;
    margin-bottom: 32px;
}

@media only screen and (max-width: 380px) {
    .main-view {
        margin: 0 auto;
        width: 375px;
        margin-top: 1rem;
    }
    .main-view-filters > div {
        transform: translateX(1rem);
    }
    .main-view-total {
        font-size: 12px;
        text-align: center;
        transform: translateX(0.5rem);
    }
    .main-view-body, .main-view-header {
        width: 350px;
        margin: 0 auto;
    }
}