@font-face {
  font-family: 'TBCXRegular';
  src: url(./view/resources/fonts/TBC\ X\ Regular.woff2);
}
@font-face {
  font-family: 'TBCXMedium';
  src: url(./view/resources/fonts/TBC\ X\ Medium.woff2);
}
@font-face {
  font-family: 'TBCXLight';
  src: url(./view/resources/fonts/TBC\ X\ Light.woff2);
}
@font-face {
  font-family: 'TBCXBold';
  src: url(./view/resources/fonts/TBC\ X\ Bold.woff2);
}
@font-face {
  font-family: 'TBCXBlack';
  src: url(./view/resources/fonts/TBC\ X\ Black.woff2);
}
@font-face {
  font-family: 'TBCXBlack';
  src: url(./view/resources/fonts/TBC\ X\ Black.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT GEO Regular';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ 55\ Roman.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT GEO Medium';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ 65\ Medium.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT GEO Bold';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ 75\ Bold.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT Caps GEO Regular';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ Caps\ 55\ R.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT Caps GEO Medium';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ Caps\ 65\ Medium.woff2);
}
@font-face {
  font-family: 'Helvetica Neue LT Caps GEO Bold';
  src: url(./view/resources/fonts/Helvetica\ Neue\ LT\ GEO\ Caps\ 75\ Bold.woff2);
}

body {
  background: #f2f3f6!important;
  margin: 0!important;
  padding: 0!important;
  box-sizing: border-box!important;
  font-family: 'TBCXRegular'!important; 
  line-height: 1.5!important;
  transition: .4s!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}
